body{
    display: flex;
    justify-content: center;

}
.container{
    
    background-color: red;
    width: 1200px;

}
.content{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
