body{
    display: flex;
    justify-content: center;

}
.container{
    width: 1200px;
    display: flex;

}
.leftdiv{
    width: 33.33%;
    background-color: red;
   
}
.rightdiv{
    background-color: blue;
    width: 66.66%;
    
}